*{
    margin: 0px;
   padding: 0px ;
}
.cointainer{
    width: 650px;
    margin: 10px auto;
}
body{
        background-image: url(../img/bg.jpg);
        background-size: cover; 
       margin: 100px 350px auto;
}
.login-section{ 
        background-color:rgb(181, 241, 97);
        width: 600px; 

}
.login-section img{
    width: 300px;
    margin: 10px auto;
    display: block;
}
.login-section h2{ margin:  0px auto;
     text-align: center;
     text-transform: uppercase;
    color: ivory;
}
.from-control{
        margin: 5px;
        width: 580px;
        padding: 3px;
        text-align: center;
}
.submit-btn{ 
    background-color: lightseagreen;
    color: black;
    text-transform: uppercase;
    margin-left:  250px;
    width: 100px;
    display: block;
    cursor: pointer;
    box-shadow:whitesmoke 2px 4px 8px;
}
.submit-btn :hover{
}
.ip1{
    margin: 30px;
    margin-left:200px;  
}
.container{
    width: 0px;
    margin: 0px;}

.Reg-section{
    background-color:blueviolet;
    width: 600px;
    
}
.Reg-section img{width: 300px;
    margin: 10px auto;
    display: block;

}
.Reg-section h2{
    margin:  0px auto;
    text-align: center;
    text-transform: uppercase;
   color:black;
}
.id{
    margin: 10px;
    width: 100px auto;
    text-align: center;
}
.ab{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px auto;

}
.abc{
    margin-left: 100px;
    margin-top: 0px ;
  
}
.cointainer1{
    width: 1000px;
    margin: 10px ;
}
body{ background-size: cover; 
    margin: 200px  400px auto;
    
}
.abcd{
    text-align: center;
}

.if{
    text-align: center;
    margin: 10px;
    width: 50px auto;
    padding: 5px;
    margin-right: 100px auto;
}
.sub-btn{

    background-color: lightseagreen;
    color: black;
    text-transform: uppercase;
    margin-left:  200px;
    width: 100px;
    display: block;
    cursor: pointer;
    box-shadow:whitesmoke 2px 4px 8px;
}
.sub-btn :hover{
}